.excellent {
    margin-bottom: 100px;
    padding-left: 110px;

    .numb-request {
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
    }

    img {
        width: unset;
        float: right;
        margin-top: -7vw;
    }
}