header {
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;

    .header-content-wrap {
        padding: 0 0 20px 0;
    }

    .header-top-content {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 70px;

        .header-top-item {
            flex-grow: 1;
        }

        .header-title {
            line-height: 1.2;

            small {
                font-size: 1rem;
            }
        }

        .header-tel-link {
            text-align: right;
            font-family: 'TildaSans';
            font-weight: 700;
            font-size: 1rem;
            font-style: normal;
            padding: 0 20px;

            a {
                color: black;
            }

        }

        .header-btn-popap {
            text-align: right;


        }
    }

    .header-menu-content {

        .header-menu-list {
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            a {
                color: black;
            }


            li {
                display: inline-block;
                padding: 10px 0 10px 0;
                text-align: right;
                flex-shrink: 0;
                margin-right: auto;
            }
        }
    }
}