.how-to-get {
    padding-left: 110px;
    max-width: 850px;
    width: 100%;

    ol {
        padding-left: 18px;

        li {
            padding: 10px 0;
        }
    }

    .how-to-get-map {
        max-width: 650px;
        max-height: 500px;
        width: 100%;
    }

}

.how-to-get section p>a {
    color: #00C2DD;
}