.living-house {
    padding-left: 100px;
    position: relative;
    margin-bottom: 200px;

    .living-house-content {
        max-width: 750px;
        width: 100%;
    }

    .living-house-block-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 100px;


    }

    .living-house-content.text-about-photo {
        flex: 0 1 550px;
    }

    .living-house-img-block {
        flex: 1 1;
        text-align: right;
        min-width: 455px;
    }

    .living-house-img-block img {
        width: unset;
        padding-bottom: 5px;
    }

    .living-house-img-block li {
        display: inline;
        transition: all 0.5s ease-in-out;
    }

    .living-house-img-block li:hover:focus {
        scale: 1.2;
    }
}