.living-conditions {
    padding-left: 110px;

    p {
        max-width: 750px;
    }

    .photo-wrap {
        display: flex;
        margin-bottom: 50px;
    }

    .photo-wrap-item {
        display: flex;
        flex-direction: column;

        li {
            flex: 1;

            img {
                padding: 2px;
            }
        }
    }

    .feed-list li,
    .feed-timing li {
        list-style-type: disc;
        padding: 5px 0;
    }

    .feed-list li:last-child,
    .feed-timing li:last-child {
        margin-bottom: 50px;
    }

    .feed-list,
    .feed-timing {
        padding-left: 20px;
    }

    .fish {
        margin-bottom: 50px;
    }

}