@media screen and (min-width: 480px) and (max-width: 768px) {

    html,
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 1165px) {
    .living-house .living-house-img-block {
        text-align: center;
    }

    .living-house .living-house-content.text-about-photo {
        flex: unset;
    }
}

@media screen and (max-width : 1024px) {
    header {
        // .header-content-wrap {
        //     padding: 0 0 20px 0;
        // }

        .header-menu-content {
            .header-menu-list {

                li {
                    padding: 10px;
                }
            }
        }
    }

    .about {
        .wellcome {
            padding: 0;
        }
    }

    .what-interesting {
        padding-left: unset;
    }

    .living-house {
        padding-left: unset;
    }

    .reviews {
        padding-left: unset;

        .reviews-list {
            justify-content: center;
        }
    }

    .footer-content-wrap {
        padding-left: unset;
        flex-wrap: wrap;
    }

    .footer-content-info,
    .footer-content-base {
        display: flex;
        flex-flow: row wrap;
    }

    .footer-content-base {
        padding: unset;
        margin-bottom: 35px;
    }

    .footer-title {
        flex: 1 1 100%;
    }

    .content-info-list-item,
    .base-list-item {
        display: inline-block;
    }

    .reviews-guests,
    .thanks,
    .some-action,
    .some-news,
    .fun,
    .actions,
    .news,
    .contacts,
    .excellent,
    .about-island,
    .how-to-get,
    .photo-gallery,
    .living-conditions,
    .cost {
        padding-left: unset;
    }

    .cost {

        table {
            tr>td:first-child {
                width: 60%;
            }
        }

        table.cost-living-table tr>td {
            width: unset;
        }

    }

    .review-item-text {
        margin-left: 0;
    }

    .about-island-photo {
        text-align: center;

        img {
            padding: 15px;
        }
    }

    .review-photo,
    .thanks-photo {
        text-align: center;
    }
}

@media screen and (max-width: 890px) {
    header {
        .header-menu-content {
            .header-menu-list {
                justify-content: space-evenly;

                li {
                    margin: 0;
                }
            }
        }

        .header-title,
        .header-tel-link {
            flex-basis: 100%;
        }

        .header-title {
            margin-bottom: 20px;
        }

        .header-top-content {
            margin-bottom: 40px;

            .header-tel-link {
                padding: 0;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-content-base {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        margin-bottom: 35px;
    }

    header .header-menu-list a {
        font-size: 19px;
    }

    .footer-title {
        flex: 1 1 100%;
    }

    .base-list-item {
        display: inline-block;
    }

    h2 {
        margin-bottom: 40px;
    }

    h3 {
        margin-bottom: 18px;
    }

    section {
        margin-bottom: 50px;
    }

    .birdth-wrap {
        margin-bottom: 50px;
    }

    .some-action,
    .fun,
    .contacts,
    .reservation,
    .some-news {
        text-align: center;
    }

    .some-action :not(.input-popap),
    .fun :not(.input-popap),
    .fun :not(.excursions-block-photo),
    .contacts :not(.input-popap),
    .reservation :not(.input-popap),
    .some-news :not(.link-back-news) {
        text-align: left;
    }

    .excursions-block-photo .block-photo-link,
    .excursions-block-photo .block-photo-img,
    .block-photo-img .gallery {
        text-align: center;
    }

    .contacts {
        margin-bottom: 50px;
    }

    .excellent {
        margin-bottom: 50px;

        img {
            float: unset;
            margin: 0 auto -50px auto;
            max-width: 355px;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .living-house .living-house-img-block {
        min-width: unset;
    }

    .living-house .living-house-block-wrap {
        margin-bottom: 50px;
    }

    .review-item-text::before {
        content: url(/css/icon/before-mini.svg);
        left: -30px;
    }

    .what-interesting {
        .what-interesting-list {
            .what-interesting-item {
                margin-bottom: 20px;
                padding-right: unset;
            }
        }
    }

    header {
        margin-top: unset;
        padding-top: 20px;
    }

    .cost {
        padding-left: unset;

        table {
            tr>td:first-child {
                width: 70%;
            }
        }

        table.cost-living-table tr>td {
            width: unset;
        }
    }

    .gallery-wrap ul {
        justify-content: center;
    }

}

@media screen and (max-width: 700px) {

    .action-item,
    .news-item {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .action-img,
    .news-img {
        margin-bottom: 20px;
    }

    .action-content {
        padding: 0 20px;
    }

    .news-content {
        padding-left: unset;
    }

}

@media screen and (max-width: 680px) {
    // .living-house {
    //     margin-bottom: 100px;
    // }

    .about {
        .wellcome {
            .wellcome-content {
                flex-wrap: wrap;
                justify-content: center;

                .wellcome-text {
                    padding-right: unset;
                }
            }
        }
    }

}

@media screen and (max-width: 600px) {
    header {
        .header-top-content {
            .header-title {
                line-height: 1;
            }

            .header-top-item {
                text-align: center;
            }
        }

        .header-menu-content {
            .header-menu-list {
                justify-content: center;

                li.active {
                    -moz-text-decoration-color: #00c2dd;
                    -moz-text-decoration-line: underline;
                    -moz-text-decoration-style: solid;
                    text-decoration-line: underline;
                    text-decoration-color: #00c2dd;
                    text-decoration-style: solid;
                    text-decoration-thickness: 10px;
                    // text-decoration: solid 10px underline #00c2dd;
                    border-bottom: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 510px) {
    header {
        .header-menu-content {
            .header-menu-list {
                flex-flow: column wrap;
                align-items: flex-start;

                li {
                    text-align: unset;
                }

                // li.active {
                //     text-decoration: solid 10px underline #00c2dd;
                //     border-bottom: unset;
                // }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    html,
    body {
        font-size: 16px;
    }

    .reviews .reviews-link {
        padding: 10px 20px;
    }

    .living-house .living-house-link {
        padding: 10px 30px;
    }

    .reviews-list .reviews-item p {
        padding-left: 10px;
    }

    .date-action {
        order: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .action-title {
        order: 1;
        flex-basis: 100%;
        text-align: center;
    }

    .action-text {
        order: 2;
    }

    .action-content {
        padding: 0 5px;
    }

    .paginations {
        margin-bottom: 50px;
    }

    .pagination-item {
        width: 25px;
        height: 25px;
        margin-right: 15px;
        padding: 5px;
    }

    .excursions-list {
        padding-left: 20px;
    }

    .some-action-img,
    .some-news-img {
        display: block;
        float: unset;
        padding-left: 0;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .subtitle {
        margin-bottom: 40px;
    }

    .some-action p,
    .some-news p {
        margin-bottom: 30px;
    }

    .review-item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .review-img {
        margin-bottom: 20px;
        padding-right: 0;
    }

    .review-item-text {
        padding-left: 20px;
    }

    .about-island-photo img {
        padding: 10px;
    }

    .about-island-wrap-photo {
        display: flex;
        flex-flow: column wrap;
    }

    .about-island-wrap-photo li:first-child {
        align-self: flex-start;
    }

    .about-island-photo li:last-child {
        align-self: flex-end;
    }

    .gallery-wrap ul {
        justify-content: center;
    }

    .living-conditions {

        .photo-wrap {
            flex-direction: column;
        }

        .photo-wrap-item {
            flex-direction: row;
        }

    }
}

@media screen and (min-width: 0) and (max-width: 380px) {
    .excellent img {
        max-width: 255px;
    }

    .reviews-list .reviews-item {
        padding: 0 15px;
    }

    .footer-content-base,
    .footer-content-info {
        flex-direction: column;
    }

    .footer-title {
        flex: unset;
    }

    .base-list-item,
    .content-info-list-item {
        display: list-item;
    }
}