.news-title {
    flex: 1 1 100%;
    order: 0;

}

.date-news {
    flex: 1 1 100%;
    order: 2;
    text-align: right;
}

.news-text {
    flex: 1 1 100%;
    order: 1;
}

.news-list a {
    color: black;
}