.reviews-guests,
.thanks {
    padding-left: 110px;
    margin-bottom: 50px;
}

.review-item-text p {
    max-width: 650px;
    width: 100%;
}

.reviews-guests>p:last-of-type {
    margin-bottom: 80px;
}

.review-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 50px;
}

.review-item-text {
    flex-shrink: 1;
    margin-left: 80px;
}

.review-item-text::before {
    content: url(/css/icon/before.svg);
    float: left;
    position: relative;
    left: -40px;
    top: -10px;
    margin-right: -30px;
}

.review-img {
    flex: 0 0;
    width: unset;
    padding-right: 40px;
}

.review-date {
    font-size: 0.8rem;
    color: #B4AB00;
    font-weight: 600;
}

.review-photo img,
.thanks-photo img {
    width: unset;
    padding: 0 10px 10px 0;
}

.review-photo li,
.thanks-photo li {
    display: inline;
}